/* Default */
html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Open Sans', 'sans-serif';
  font-size: 16px;
}

body > .container {
    padding: 0 15px;
    margin-top: 0px;
    width: 100%;
}

.navbar-brand {
    padding: 20px;
    vertical-align: baseline;;
}

.navbar-brand-img {
    padding: 0px;
}
@media screen and (max-width: 768px) {
    a.navbar-brand-img>img {
        vertical-align: bottom;
        padding: 1em 0 0 15px;
        max-width: 80%;
    }
}

a.navbar-brand-img > img {
  vertical-align: bottom;
  height: 64px;
  margin: 10px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
    margin-bottom: 15px;
    font-size: 18px;
}

/* Sense3 */

/* *
 * Rouge : #963425;
 * Noir : #333333;
 * Gris : #757575;
 * Blanc : #ffffff;
 * */

.content img {
    max-width: 100%;
    height: auto;
    margin: 40px auto;
}

/* Sections background */
body {
    background: #102026 /* url('../network.png') top center no-repeat;*/
}

body .content .container {
    background: #fff;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-shadow: 0px 3px 4px rgba(50, 50, 50, 0.2);
    -moz-box-shadow: 0px 3px 4px rgba(50, 50, 50, 0.2);
    box-shadow: 0px 3px 4px rgba(50, 50, 50, 0.2);
}

.intro {
    background: transparent;
    margin-top: -70px;
}

.intro h2 {
    margin-bottom: 35px;
}

.getting-started {
    background: #963425 ; /*url('../network-o.png') center center;*/
}

.how-it-works {
    background: #757575; /* url('../network.png') center center;*/
}

/* Navbar */
#main-header #navbar .btn-group {
    margin-top: 8px;
}

.navbar {
    background: transparent;
    border: none;
    margin-top: 30px;
    z-index: 2;
}
.navbar .container {
    background: #f7f7f7;
    padding-right: 15px;
    -webkit-box-shadow: 0px -1px 4px rgba(50, 50, 50, 0.2);
    -moz-box-shadow: 0px -1px 4px rgba(50, 50, 50, 0.2);
    box-shadow: 0px -1px 4px rgba(50, 50, 50, 0.2);
}

/* Buttons */
.intro a[href^="#"],
.install a[href^="#"],
.how-it-works a[href^="#"],
.btn.btn-primary {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    opacity: 0.8;
    text-decoration: none;
    display: inline-block;
    border: none;
}

.intro a[href^="#"]: hover,
.how-it-works a[href^="#"]: hover {
    opacity: 1;
}

.intro a[href="#getting-started"],
.how-it-works a[href="#getting-started"],
.btn.btn-primary {
    margin-right: 4px;
    color: #fff;
    background: #963425;
}

.intro a[href="#how-it-works"] {
    margin-right: auto;
    color: #963425;
    background: #fff;
    border: 1px solid #963425;
}

.how-it-works .col-md-4 {
    text-align: center;
    padding: 60px 0;
}

.how-it-works .col-md-push-4 p,
.how-it-works .col-md-push-4 h3 {
    text-align: right;
}

.getting-started h2 {
    color: #963425;
}

.web-browser {
    border: 2px solid #abacae;
    border-radius: 4px;
    box-sizing: border-box;
    height: auto;
    margin: 24px auto 24px auto;
    max-width: 100%;
    padding: 42px 0px 0px;
    position: relative;
    text-align: center;
    width: 888px;
}

.web-browser img {
    margin: 0;
}

.web-browser .toolbar {
    border-bottom: 2px solid #abacae;
    padding: 12px;
    padding-top: 9px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.web-browser .toolbar img {
    display: inline-block;
    vertical-align: middle;
}

.web-browser .toolbar .search-bar {
    background-color: #ddd;
    border-radius: 2px;
    display: inline-block;
    height: 20px;
    margin: 0 12px;
    width: calc(100% - 128px);
    vertical-align: middle;
}

.web-browser .actions {
    margin-bottom: 0;
}

.web-browser .img-responsive {
    padding: 4px 2px 2px;
}

#sense3_code {
  min-height: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  padding: 24px;
  border-radius: 6px;
}
