<!DOCTYPE html>
{{ "<!--[if lt IE 7]>" | safeHTML }} <html class="no-js lt-ie9 lt-ie8 lt-ie7"{{ if .Lang }} lang="{{ .Lang }}"{{ end }}> {{ "<![endif]-->" | safeHTML }}
{{ "<!--[if IE 7]>" | safeHTML }} <html class="no-js lt-ie9 lt-ie8"{{ if .Lang }} lang="{{ .Lang }}"{{ end }}> {{ "<![endif]-->" | safeHTML }}
{{ "<!--[if IE 8]>" | safeHTML }} <html class="no-js lt-ie9"{{ if .Lang }} lang="{{ .Lang }}"{{ end }}> {{ "<![endif]-->" | safeHTML }}
{{ "<!--[if gt IE 8]><!-->" | safeHTML }} <html class="no-js"{{ if .Lang }} lang="{{ .Lang }}"{{ end }}> {{ "<!--<![endif]-->" | safeHTML }}
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>{{ .Title }} {{ if ne .Title .Site.Title }} &middot; {{ .Site.Title }}{{ end }}</title>
  {{ partial "base/metas.html" . }}
  {{ partial "base/imports.html" . }}
  <script>
    if (/\/{{ .Lang }}\/$/.test(window.location.href)) {window.location.href = `${window.location.href}home/`; }
    if (!(document.cookie.indexOf('selectedLanguage=') > -1)) {
      document.addEventListener('DOMContentLoaded', () => {
        const userLang = navigator.languages ||
          [root.navigator.language || root.navigator.userLanguage];
        for (let i = 0; i < userLang.length; i += 1) {
          if (userLang[i].substring(0, 2).toLowerCase() === 'fr') {
            changeLanguage('fr');
          }
        }
      });
    }
  </script>
  <script type="text/javascript" src="/s/bowser.min.js"></script>
</head>
<body{{ with .Site.Params.theme }} class="{{ . }}"{{ end }} data-ng-app="myapp" data-ng-controller="MyController" data-ng-mouseleave="MouseLeave($event)">
    {{ partial "base/header.html" . }}
